.project-card {
  color: #301d06;
  background-color: #817575;
  width: 25rem;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.project-card h2 {
  text-align: center;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: #301d06 solid;
}

.project-card-img {
  height: 18rem;
}

.bottom-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tools-container {
  display: flex;
  gap: 1rem;
}

@media (max-width: 500px) {
  .project-card {
    width: 16rem;
  }
  .project-card-img {
    height: 13rem;
  }

  .project-card h2 {
    font-size: large;
  }
  .project-card p {
    font-size: small;
  }
}
