.planet {
  width: 30vmin;
  height: 30vmin;
  position: absolute;
  border-radius: 50%;
  left: 40%;
  top: 50%;
  margin: -25vmin;
  overflow: visible; /* Ensure the overflow is visible */
}

.planet .glow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle, rgba(74, 154, 168, 0.18) 10%, rgba(74, 154, 168, 0) 50%);
  z-index: -1; /* Ensure the glow is behind the planet */
}
.planet .mask {
  width: calc(30vmin + 1px);
  height: calc(30vmin + 1px);
  position: absolute;
  box-shadow: inset -50px -50px 100px #00000088, inset -50px -50px 100px #000000cc, inset 50px 50px 100px -50px #fffa,
    inset 50px 50px 100px -50px #ffffff55;
  border-radius: 50%;
  mix-blend-mode: luminosity;
}

.planet .background {
  animation: translateBackground 120s infinite linear;
  background-color: #888;
  background-image: url('/planet.jpg');
  background-size: auto 100%;
  background-repeat: repeat-x;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  filter: hue-rotate(150deg);
}

.planet .wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  animation: rotatePlanet 360s infinite;
}

@keyframes translateBackground {
  0% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 300%;
  }
}

@keyframes translateClouds {
  0% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 300%;
  }
}

@keyframes rotatePlanet {
  0% {
    transform: rotateZ(15deg);
  }
  50% {
    transform: rotateZ(-25deg);
  }
  100% {
    transform: rotateZ(15deg);
  }
}
