.planet {
  width: 30vmin;
  height: 30vmin;
  position: absolute;
  border-radius: 50%;
  /*overflow:hidden;*/
  box-shadow: 0 0 20vmin -5vmin rgba(74, 154, 168, 0.596), -5vmin -5vmin 15vmin -5vmin #fff4;
  left: 40%;
  top: 50%;
  margin: -25vmin;
}
.planet .mask {
  width: calc(30vmin + 1px);
  height: calc(30vmin + 1px);
  position: absolute;
  box-shadow: inset -5vmin -5vmin 10vmin #00000088, inset -5vmin -5vmin 10vmin #000000cc,
    inset 5vmin 5vmin 10vmin -5vmin #fffa, inset 5vmin 5vmin 10vmin -5vmin #ffffff55;
  border-radius: 50%;
  xmix-blend-mode: luminosity;
}

.planet .background {
  animation: translateBackground 120s infinite linear;
  background-color: #888;
  background-image: url('./planet.jpg');
  background-size: auto 100%;
  background-repeat: repeat-x;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  filter: hue-rotate(150deg);
}
.planet .clouds {
  /*background-image: url(http://artem.anmedio.ru/dev/planet/clouds.png);*/
  /*background-image: url('https://www.vippng.com/png/full/5-58314_clouds-texture-png.png');*/
  /* background-image: url('https://www.mapsof.net/uploads/static-maps/Earth-Clouds.jpg');
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-position-y: 50%;
  mix-blend-mode: screen;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  animation: translateClouds 60s infinite linear;
  opacity: 0.85; */
}
.planet .clouds.c2 {
  /* background-image: url('https://www.solarsystemscope.com/textures/download/2k_earth_clouds.jpg');
  animation: translateClouds 72s infinite linear;
  background-size: auto 100%;
  opacity: 0.6; */
}
.planet .wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  animation: rotatePlanet 360s infinite;
}

@keyframes translateBackground {
  0% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 300%;
  }
}

@keyframes translateClouds {
  0% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 300%;
  }
}

@keyframes rotatePlanet {
  0% {
    transform: rotateZ(15deg);
  }
  50% {
    transform: rotateZ(-25deg);
  }
  100% {
    transform: rotateZ(15deg);
  }
}
