dialog {
  z-index: 1000;
  color: #301d06;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  font-style: normal;
  background-color: #d3c7c7;
  padding: 2rem 2rem;
  border-radius: 50px;
  border: none;
}

dialog p {
  margin-bottom: 3rem;
}

.dialog-overlay {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.dialog-button-wrapper {
  display: flex;
  justify-content: center;
}

.copy-button {
  display: flex;
  align-items: center;
}

#close-contact {
  text-transform: uppercase;
  font-weight: bold;
  font-size: x-large;
  font-family: 'Teko', sans-serif;
  font-optical-sizing: auto;
  color: #b3321b;
  display: flex;
  align-items: center;
}

dialog button img {
  height: 1.5rem;
}

#contact-dialog {
  max-width: 50rem;
  width: 90%;
}

#close-contact:hover {
  color: #c25f4d;
}

ul {
  padding: 0px;
  margin-bottom: 2rem;
}

li {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
