footer p {
  margin: 0px 0px;
}

footer {
  background-color: #312e2e;
  padding: 0.5rem 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-top {
  border-top: #b3321b solid;
  margin-top: 4rem;
  padding-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: bold;
  font-size: large;
  font-family: 'Teko', sans-serif;
  align-items: center;
  color: #b3321b;
  font-weight: 300;
}

.footer-top h2 {
  margin: 0px;
}

.footer-bottom {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  gap: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #b3321b;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
  font-style: normal;
  padding-bottom: 2rem;
  border-bottom: #b3321b solid;
}

.social-logos {
  align-self: start;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

img {
  height: 2rem;
}

@media (max-width: 600px) {
  footer {
    padding: 0.5rem 2rem;
  }
}
