.header-wrapper {
  text-align: center;
  margin-bottom: 2rem;
}

.section-header {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: xx-large;
  font-family: 'Teko', sans-serif;
  color: #b3321b;
  position: relative;
  margin: 0 auto;
  padding: 5px 20px;
}

.section-header::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-top: 3px solid #b3321b;
  border-right: 3px solid #b3321b;
  width: 1.5rem;
  height: 1.5rem;
}

.section-header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 3px solid #b3321b;
  border-left: 3px solid #b3321b;
  width: 1.5rem;
  height: 1.5rem;
}

@media (max-width: 600px) {
  .section-header {
    font-size: x-large;
  }
}
