.ground {
  z-index: 2;
  background: rgba(164, 156, 156, 1);
}

canvas {
  position: relative;
  z-index: -2;
}

.lower {
  width: 100%;
  position: relative;
  overflow-x: clip;
}

#mountains-left {
  height: 20rem;
  top: -17rem;
  position: absolute;
  left: -2%;
  z-index: -1;
}

#space-man-img {
  height: 25rem;
  top: -5rem;
  position: absolute;
  left: 40%;
}

#rocket-img {
  height: 50rem;
  top: -22rem;
  position: absolute;
  left: 80%;
}

.buffer {
  height: 12rem;
}

article {
  background: linear-gradient(180deg, #a49c9c 0%, #312e2e 50%);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
}

h2 {
  margin-top: 0px;
}

.content-wrapper {
}

.section {
  /* max-width: 95rem; */
  flex-grow: 1;
  position: relative;
  color: #301d06;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  font-style: normal;
  background-color: #d3c7c7;
  margin: 0px 2rem;
  padding: 2rem;
  border-radius: 50px;
}
